Button {
    margin: 1 1;
}

Checkbox {
    margin: 1 1;
}

Input#msg {
  background: red;
  width: 1fr;
}

Button#send {
  margin: 0 1 0 0;
  min_width: 10;
}

.header {
    margin: 1 0 0 2;
    text-style: bold;
}

.left-top-panel {
  width: 64;
  background: magenta;
}

.right-top-panel {
  background: green;
}

.info-panel {
}

#input-field {
  height: 3;
}

.messages-panel {
}
